.card_est {
  width: 90%;
  max-width: 340px;
  border-radius: 7px;
  background: #fff;
  overflow: hidden;
  transition: $transition-base;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover,
  &:active {
    box-shadow: 0 4px 10px rgba(19, 19, 20, 0.15);
  }

  &__head {
    position: relative;
  }

  &__img {
    width: 100%;
    padding-bottom: 64%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__rating {
    position: absolute;
    top: 15px;
    left: 10px;
    background: rgba(14, 14, 14, 0.5);
    padding: 7px 8px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    border-radius: 4px;
  }

  &__title {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #343434;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    min-height: 38px;

    @include media-breakpoint-up(lg) {
      font-size: 18px;
      line-height: 18px;
      padding: 18px 12px 12px 12px;
      min-height: 48px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    padding: 0 10px 10px 10px;
    font-size: 13px;
    line-height: 15px;
    color: #98a7b6;
    min-height: 24px;

    @include media-breakpoint-up(lg) {
      font-size: 15px;
      line-height: 15px;
      padding: 0 12px 18px 12px;
      min-height: 34px;
    }

    &_check {
      display: flex;
      align-items: center;

      &::after {
        display: block;
        content: '';
        border-radius: 100%;
        width: 4px;
        height: 4px;
        background: #98a7b6;
        margin: 0 5px;
      }
    }

    &_kitchen {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_address {
      display: flex;
      align-items: center;
      margin-left: auto;
      color: $primary;

      & div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }
    }
  }
}
