.card_city {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  a {
    color: #343434;

    &:hover,
    &:active {
      color: darken($link-color, 15%);
    }
  }

  &__img {
    width: 56px;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      width: 90px;
    }
    @include media-breakpoint-up(lg) {
      width: 180px;
    }

    img {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  &__title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 16px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 22px;
      line-height: 22px;
      margin-top: 15px;
    }
  }

  &__info {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #98a7b6;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
